
<div>
    <h2><span>ProcessModel</span> {{processModel.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th style="width:120px;">Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{processModel.name}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Comment</span>
                </td>
                <td>
                    <span class="form-control-static">{{processModel.comment}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Status</span>
                </td>
                <td>
                    <span ng-class="{'label label-default': processModel.status=='DESIGNING', 'label label-success': processModel.status=='ENACTED'}">{{processModel.status}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CreatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{processModel.createdAt | date:'yyyy-MM-dd HH:mm'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UpdatedAt</span>
                </td>
                <td>
                    <span class="form-control-static">{{processModel.updatedAt | date:'yyyy-MM-dd HH:mm'}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <ul class="nav nav-tabs" ng-init="curTab = 'tab-1'">
        <li ng-class="{'active': curTab === 'tab-1'}">
            <a ng-click="curTab = 'tab-1'" > Artifacts</a>
        </li>

        <li ng-class="{'active': curTab === 'tab-2'}">
            <a ng-click="curTab = 'tab-2'" > Services</a>
        </li>

        <li ng-class="{'active': curTab === 'tab-3'}">
            <a ng-click="curTab = 'tab-3'" > Business Rules</a>
        </li>

        <li ng-class="{'active': curTab === 'tab-4'}">
            <a ng-click="curTab = 'tab-4'; showInstances()" > Instances </a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-item artifact-list" ng-show="curTab === 'tab-1'">
            <div class="row">
                <div class="col-sm-12" ng-repeat="artifact in processModel.artifacts" id="artifact-{{artifact.id}}">
                    <div class="panel panel-default artifact" >
                        <div class="panel-heading">
                            <div class="pull-right">
                                <button class="btn btn-xs btn-default" onclick="$(this).parent().parent().find('input').toggle();$(this).parent().parent().find('h3').toggle();">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </div>
                            <h3 class="panel-title">{{artifact.name}}</h3>
                            <input style="display: none; width: 200px;" type="text" class="form-control" ng-model="artifact.name" />
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover ">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Comment</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="artifact-attr" ng-repeat="attr in artifact.attributes">
                                    <td class="" style="width: 200px;">
                                        <span>{{attr.name}}</span>
                                        <input style="display: none;" type="text" class="form-control" ng-model="attr.name" />
                                    </td>
                                    <td class="type" style="width: 200px;">
                                        <span>{{attr.type}}</span>
                                        <select style="display: none;" class="form-control" ng-options="item as item for item in attrTypes" ng-model="attr.type"></select>
                                    </td>
                                    <td class="comment">
                                        <span>{{attr.comment}}</span>
                                        <input style="display: none;" type="text" class="form-control" ng-model="attr.comment" />
                                    </td>
                                    <td style="width: 100px;">
                                        <button type="button" onclick="$(this).parent().parent().find('td>span').toggle();$(this).parent().parent().find('td .form-control').toggle();" class="btn btn-sm btn-default">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger" ng-click="removeAttr(artifact, attr)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-control" type="text" ng-model="newAttr.name" placeholder="Name" />
                                    </td>
                                    <td>
                                        <select  class="form-control" ng-options="item as item for item in attrTypes" ng-model="newAttr.type"></select>
                                    </td>
                                    <td>
                                        <input class="form-control" type="text" ng-model="newAttr.comment" placeholder="Comment" />
                                    </td>
                                    <td>
                                        <button class="btn btn-sm btn-primary" type="button" ng-click="addAttr(artifact)">Add</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div id="myPalette-myDiagram-{{artifact.id}}" style="border: solid 1px #ccc; height: 100px;" ></div>
                            <div id="myDiagram-{{artifact.id}}" style="border: solid 1px #ccc; height: 300px"></div>

                            <hr>
                            <button class="btn btn-sm btn-primary" type="button" ng-click="saveEditArtifact(artifact)">Save</button>

                            <!--<span>Reference artifacts: {{artifact.referenceArtifacts}}</span>-->


                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="tab-item" ng-show="curTab === 'tab-2'">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="name">Name</th>
                            <th class="name">Method</th>
                            <th class="name">Type</th>
                            <th class="name">Url</th>
                            <th class="name">Input artifact</th>
                            <th class="name">Output artifact</th>
                            <th class="name">Input params</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="service in processModel.services">
                            <td>{{service.name}}</td>
                            <td>{{service.method}}</td>
                            <td>{{service.type}}</td>
                            <td>{{service.url}}</td>
                            <td>{{service.inputArtifact}}</td>
                            <td>{{service.outputArtifact}}</td>
                            <td>
                                <span ng-repeat="param in service.inputParams">{{param}}, </span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary" ng-click="editService(service)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button class="btn btn-sm btn-danger" ng-click="removeService(service)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <button ng-click="newService()" class="btn btn-sm btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-item" ng-show="curTab === 'tab-3'">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th class="name">Name</th>
                            <th class="name">Service</th>
                            <th class="name">PreConditions</th>
                            <th class="name">PostConditions</th>
                            <th class="name">Transition</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="rule in processModel.businessRules">
                            <td>{{rule.name}}</td>
                            <td>{{rule.action.service}}</td>
                            <td>
                                <span ng-repeat="atom in rule.preConditions">
                                    <span ng-if="atom.type =='INSTATE' ">Instate({{atom.artifact}}, "{{atom.state}}")</span>
                                    <span ng-if="atom.type =='ATTRIBUTE_DEFINED' ">Defined({{atom.artifact}}, "{{atom.attribute}}")</span>
                                    <span ng-if="atom.type =='SCALAR_COMPARISON'">
                                        {{atom.artifact}}.{{atom.attribute}}
                                        <span ng-if="atom.operator == 'EQUAL'">=</span>
                                        <span ng-if="atom.operator == 'LESS'">&lt;</span>
                                        <span ng-if="atom.operator == 'LARGER'">&lg;</span>
                                        "{{atom.value}}"
                                    </span>
                                    <span ng-show="!$last">&and;</span>
                                </span>
                                <!--<span>-->
                                    <!--{{conditionsToText(rule.preConditions)}}-->
                                <!--</span>-->
                            </td>
                            <td>
                               <span ng-repeat="atom in rule.postConditions">
                                    <span ng-if="atom.type =='INSTATE' ">Instate({{atom.artifact}}, "{{atom.state}}")</span>
                                    <span ng-if="atom.type =='ATTRIBUTE_DEFINED' ">Defined({{atom.artifact}}, "{{atom.attribute}}")</span>
                                    <span ng-if="atom.type =='SCALAR_COMPARISON'">
                                        {{atom.artifact}}.{{atom.attribute}}
                                        <span ng-if="atom.operator == 'EQUAL'">=</span>
                                        <span ng-if="atom.operator == 'LESS'">&lt;</span>
                                        <span ng-if="atom.operator == 'LARGER'">&lg;</span>
                                        "{{atom.value}}"
                                    </span>
                                    <span ng-show="!$last">&and;</span>
                                </span>
                            </td>
                            <td  style="min-width: 260px;">
                                <div ng-repeat="tran in rule.action.transitions">
                                    <span>{{tran.artifact}}.{{tran.fromState}} &rarr; {{tran.artifact}}.{{tran.toState}}</span>
                                </div>
                            </td>
                            <td style="min-width: 90px;">
                                <button class="btn btn-sm btn-primary" ng-click="editBusinessRule(rule)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button class="btn btn-sm btn-danger" ng-click="removeBusinessRule(rule)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <button class="btn btn-sm btn-primary" ng-click="newBusinessRule()">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-item" ng-show="curTab === 'tab-4'">
            <div class="panel panel-default">
                <div ng-show="processModel.status=='DESIGNING'" class="panel-body">
                    <div class="alert alert-warning">
                        The process model is not enacted.
                    </div>
                </div>
                <div ng-show="processModel.status=='ENACTED'" class="panel-body">
                    <a  class="btn btn-success btn-sm" ng-click="createProcessInstance()">Create Process</a>
                    <table class="table table-hover table-striped">
                        <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Artifacts</th>
                        <!-- <th>Is Running</th> -->
                        <th>Created At</th>
                        <th>Updated At</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="instance in instances | orderBy: 'createdAt': true">
                            <td>
                                <a href="/#/process/{{instance.id}}">{{instance.id}}</a>
                            </td>
                            <td>{{instance.name}}</td>
                            <td>{{instance.artifacts.length}}</td>
                            <!-- <td>{{instance.isRunning}}</td> -->
                            <td>{{instance.createdAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td>{{instance.updatedAt | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>

        </div>
    </div>

    <hr/>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
