
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myArtifactLabel">Create or edit a Artifact</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="artifact.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="artifact.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_currentState">CurrentState</label>
            <input type="text" class="form-control" name="currentState" id="field_currentState"
                    ng-model="artifact.currentState"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdAt">CreatedAt</label>
            <input id="field_createdAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="artifact.createdAt" is-open="datePickerForCreatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_updatedAt">UpdatedAt</label>
            <input id="field_updatedAt" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="artifact.updatedAt" is-open="datePickerForUpdatedAt.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForUpdatedAtOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
