<div>
    <h2>Artifacts</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="artifact.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Artifact</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="currentState"><span>CurrentState</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdAt"><span>CreatedAt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedAt"><span>UpdatedAt</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="artifact in artifacts track by artifact.id">
                    <td><a ui-sref="artifact.detail({id:artifact.id})">{{artifact.id}}</a></td>
                    <td>{{artifact.name}}</td>
                    <td>{{artifact.currentState}}</td>
                    <td>{{artifact.createdAt | date:'medium'}}</td>
                    <td>{{artifact.updatedAt | date:'medium'}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="artifact.detail({id:artifact.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="artifact.edit({id:artifact.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="artifact.delete({id:artifact.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
